@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
.main{
  display: flex;
}
header {
  background-color: #d52e3f;
  padding: 0px;
  box-sizing: border-box;
  max-height: 10vh;
  border-bottom:3px solid black;
  border-radius:0px 0px 15px 15px ;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
header>h1{
  font-size: 3rem;
  text-align: center;
  height:10vh;
  line-height: 10vh;
  color: #fcedd8;
  background: #d52e3f;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 3px 3px 0px #eb452b, 
                3px 3px 0px black, 
                3px 3px 0px grey, 
                3px 3px 0px lightgray; 
  overflow: hidden;
  border-radius:0px 0px 15px 15px ;
  order: 2;
  flex-basis: 100%;
}
#link-button{
  margin-left: 3%;
  height: 3vw;
  font-size: 1vw;
  order: 1;
  flex-basis: 15vw; 
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 2%;
  border-radius: 10%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  background-color: black;
}
#reset{
  margin-left: 3%;
  height: 3vw;
  font-size: 1vw;
  order: 3;
  flex-basis: 15vw; 
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 2%;
  border-radius: 10%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  background-color: black;
}
footer {
  background-color:rgb(109, 108, 108);
  padding: 50px;
  box-sizing: border-box;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dashed black;
}
img{
  height: 7vh;
  max-height: 7vh;
}
#results-button{
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10%;
  box-sizing: border-box;
  text-decoration: none;
  width: 15vw;
  height: 10vh;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  background-color: black;
  font-size: large;
}
#results-button:hover{
  color: #000000;
  background-color: #FFFFFF;
  border:0.1em solid black;
}



/* CENTER */
#center{
  display: flex;
  flex-direction: column;
  order:2;
  width: 60vw;
}
#center >*{
  flex-basis: 100%;
}
#center-top{
  display: flex;
  
}
#vs{
  width: 10vw;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 2vw;
  -webkit-text-fill-color: #DA8625;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  font-family: 'Bubblegum Sans', cursive;
}
#party-comp{
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: column;
}
#level-word, #size-word{
  font-size:2vw ;
  margin-bottom:2%;
  text-align: center;
}
#size-to-display, #level-to-display{
  font-size: 5vw;
  background-color: #FFFFFF;
  border: .5vw solid black;
  border-radius: 50%;
  padding:3vw;
  text-align: center;
  background-color: #84a5cf3a;
}
#monster-comp{
  display: flex;
  width: 25vw;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.start{
  display: flex;
    flex-direction: column;
    align-content: space-between;
}
.start p{
  margin-top: 5%;
  margin-bottom: 5%;
}
.hidden{
  display: none;
}
.monster-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  box-sizing: border-box;
  padding:2vw 2.2vw 2vw 1.5vw;
  background-image: url('scroll-g67d164499_640.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}
.monster-card p{
  font-size: 1vw;
  -webkit-text-fill-color: rgb(239, 243, 15)29;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px; 
}
.cr{
  display: flex;
}
#center-middle{
  flex-basis: 20%;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.result-title{
  font-size: 4vw;
  -webkit-text-fill-color:#DA8625;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  text-align: center; 
}
.result-snark{
  text-align: center;
}
#center-bottom{
  display: flex;
  flex-direction: column;
  flex:2 1 20vh;
}

/* LEFT */

#left{
  order:1;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  align-items: center;
  border-radius: 0 5% 5% 0;
  padding: 1%;
  height: 80vh;
}
#left>p{
  flex-basis: 3vh;
  flex-shrink: 3;
}
#party-size-buttons{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10%;
  background-color: #84a5cf3a;
  }
  
.party-level-button{
  border-radius: 50%;
  width: 4vw;
  text-align: center;
  font-size: 2vw;
  margin: 2%;
  background-color: #DA8625;
  
}
.party-size-button{
  margin: 0 2% 2% 2%; 
  text-align: center;
  font-size: 2vw;
  border-radius: 50%;
  background-color: #DA8625;
}
#bubbles{
display: flex;
width: 20vw;
justify-content: center;
border: 2px solid black;
border-radius: 12%;
background-color: #84a5cf3a;
padding: 10px 0;
}
.selected-party-size, .selected-level{
  background-color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #DA8625;
  -webkit-text-stroke-width: 2px;
  font-family: 'Bubblegum Sans', cursive;
}
  /* RIGHT */
#right{
  order:3;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
  flex: 0 1 20%;
  padding:1%;
  border-radius: 10%;
  border:2px solid black;
  background-color: #84a5cf3a;
}
h3, p{ 
    font-size: 2vw;
    -webkit-text-fill-color: #DA8625;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-family: 'Bubblegum Sans', cursive;
  }
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
select{
  width: 20ch;
  box-shadow: 0 3px 20px 0 #0000003b;
}
#add-to-fight{
  display: inline-block;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10%;
  box-sizing: border-box;
  text-decoration: none;
  width: 165px;
  height: 250px;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  background-color: black;
  font-size: large;
}
#add-to-fight:hover{
  color: #000000;
  background-color: #FFFFFF;
  border:0.1em solid black;
}